In [1]:
import requests
import pandas as pd
import os
from dotenv import load_dotenv
import json
import numpy as np
import datetime

from sklearn.preprocessing import OneHotEncoder

In [2]:
load_dotenv()
opensea_api_key = os.getenv('OPENSEA_API_KEY')

# Data for Context and Analysis

### Collection Stats

In [3]:
url = "https://api.opensea.io/api/v2/collections/pudgypenguins/stats"

headers = {
    "accept": "application/json",
    "x-api-key": opensea_api_key
}

response = requests.get(url, headers=headers)

collection_stats_response_json = response.json()

collection_totals_dict = collection_stats_response_json["total"]

# I had to set this index because there is not index and it was causing an error
# I used ChatGPT to debug this issue
collection_totals_df = pd.DataFrame(collection_totals_dict, index=[0])

collection_totals_df

,volume,sales,average_price,num_owners,market_cap,floor_price,floor_price_symbol
0,345948.65696,78961,4.38126,4778,103133.836319,13.0,ETH

## Trait Counts

In [4]:
url = "https://api.opensea.io/api/v2/traits/pudgypenguins"

headers = {
    "accept": "application/json",
    "x-api-key": opensea_api_key
}

response = requests.get(url, headers=headers)

# Formatting as json
traits_json = response.json()

# get the "counts" and not "categories" key
traits_json = traits_json.get("counts", [])

# preview
traits_json

{'Background': {'Beige': 1152,
  'Blue': 1587,
  'Mint': 1389,
  'Red': 755,
  'Tangerine': 1135,
  'Yellow': 873,
  'Pink': 710,
  'Purple': 1282,
  'On The Beach': 1,
  'Supermarket': 1,
  'Green': 1,
  'Trick Or Treating': 1,
  'Underwater': 1},
 'Skin': {'Light Gray': 1189,
  'Mint': 423,
  'Maroon': 731,
  'Normal': 2649,
  'Leopard Pink': 89,
  'Dark Gray': 1329,
  'Baby Pink': 623,
  'Cream': 646,
  'Olive Green': 705,
  'Red': 344,
  'Gold': 44,
  'Leopard Gray': 89,
  'Ice': 22,
  'Navy Blue': 4,
  'Black': 1},
 'Body': {'Vote 4 Pudgy': 203,
  'Kimono Blue': 108,
  'Scarf Blue': 237,
  'Shirt Blue': 290,
  'Fish Lover': 70,
  'Turtleneck Grey': 210,
  'Lei Pink': 168,
  'Bow Tie Blue': 154,
  'Tank Top Yellow': 193,
  'Puffer Orange': 158,
  'Huddle Shirt': 228,
  'Kimono Brown': 268,
  'Lei Assorted': 76,
  'Bronze Medal': 193,
  'Gold Medal': 58,
  'Heart': 102,
  'Turtleneck Green': 254,
  'Scarf Pink': 177,
  'Surfboard Necklace': 166,
  'Swordman': 62,
  'Christmas Sweater Red': 89,
  'Bath Robe': 246,
  'Turtleneck Blue': 238,
  'Hoodie Black': 183,
  'Silver Medal': 141,
  'Puffer Green': 167,
  'Shirt Red': 259,
  'Kimono Orange': 115,
  'Christmas Lights': 131,
  'Turtleneck Pink': 182,
  'Suit Blue': 89,
  'Bow Tie Pink': 172,
  'Tribal Necklace': 115,
  'Overalls': 171,
  'Bow Tie Black': 193,
  'Scarf Green': 250,
  'Lei Blue': 180,
  'Kimono White': 89,
  'Christmas Sweater Blue': 89,
  'Kimono Red': 169,
  'Tank Top Blue': 202,
  'Puffer Blue': 158,
  'Kimono Gold': 44,
  'Biker Jacket': 67,
  'Apron': 199,
  'Lei Purple': 186,
  'Lab Coat': 227,
  'Shark Tooth Necklace': 88,
  'Hawaiian Shirt': 171,
  'Suit Red': 78,
  'Ice Coat': 123,
  'Kimono Pink': 89,
  'Hoodie Pink': 162,
  'Big P': 71,
  'Kimono Abstract': 53,
  'Crop Top': 89,
  'Kimono Ice': 22,
  'Pudgy Man': 44,
  'Pineapple Suit': 1,
  'Poncho': 167,
  'Banana Suit': 1,
  'Mirrored': 1,
  'Pillow Case': 1,
  'Shark Suit': 1},
 'Face': {'Winking': 961,
  'Star Glasses': 265,
  'Normal': 864,
  'Cute': 588,
  'Beard': 320,
  'Hero Mask Red': 71,
  'Scar': 274,
  'Blushing': 932,
  'Eyepatch': 426,
  'Clout Goggles': 342,
  'Squad': 445,
  'Circle Glasses': 768,
  'Goggles': 191,
  'Aviator': 341,
  'Villain Mask': 89,
  'Cross Eyed': 417,
  'Football': 238,
  'Mustache': 169,
  'Cucumbers': 269,
  'Monocle': 496,
  'Handlebar Bear': 259,
  'Scouter': 67,
  'Hero Mask Blue': 71,
  'Star Struck': 22,
  'Mirrored': 1,
  'Pillow Case': 1,
  'Agitated': 1},
 'Head': {'Backwards Hat Blue': 173,
  'Bucket Hat Tan': 219,
  'Santa Hat': 208,
  'Durag Blue': 252,
  'Backwards Hat Red': 294,
  'Durag Red': 174,
  'None': 250,
  'Ninja Headband': 89,
  'Afro With Pick': 257,
  'Bucket Hat Green': 349,
  'Flat Cap Black': 247,
  'Flat Cap Blue': 355,
  'Beanie Gray': 271,
  'Mohawk Green': 255,
  'Hat Blue': 286,
  'Fish Green': 117,
  'Beanie Orange': 276,
  'Wizard Hat': 186,
  'Sombrero': 255,
  'Beanie Pink': 90,
  'Cowboy Hat': 252,
  'Headband': 357,
  'Macaroni': 249,
  'Party Hat': 196,
  'Biker Helmet': 88,
  'Viking Helmet': 196,
  'Hat Red': 279,
  'Hatched': 53,
  'Mohawk Purple': 269,
  'Bowl Cut': 89,
  'Grizzly Bear Hat': 209,
  'Flat Cap Tan': 274,
  'Fish Blue': 89,
  'Fish Gold': 22,
  'Pirate Hat': 182,
  'Sideways Blue': 89,
  'Top Hat': 282,
  'Camo Helmet': 248,
  'Rice Hat': 89,
  'Polar Bear Hat': 89,
  'Egg': 89,
  "Jester's Hat": 176,
  'Panda Hat': 89,
  'Crown': 58,
  'Sideways Red': 90,
  'Egg Gold': 45,
  'Flower Crown': 66,
  'Fish Orange': 44,
  'Ice Crown': 14,
  'Hatched Gold': 9,
  'Pineapple Suit': 1,
  'Banana Suit': 1,
  'Normal': 1,
  'Shark Suit': 1}}

#### All Traits

In [5]:
# df of all traits
# documentation: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.json_normalize.html
# similar to how OneHotEncoder creates new column names
traits_df_normalized = pd.json_normalize(traits_json)

traits_df_normalized

,Background.Beige,Background.Blue,Background.Mint,Background.Red,Background.Tangerine,Background.Yellow,Background.Pink,Background.Purple,Background.On The Beach,Background.Supermarket,...,Head.Sideways Red,Head.Egg Gold,Head.Flower Crown,Head.Fish Orange,Head.Ice Crown,Head.Hatched Gold,Head.Pineapple Suit,Head.Banana Suit,Head.Normal,Head.Shark Suit
0,1152,1587,1389,755,1135,873,710,1282,1,1,...,90,45,66,44,14,9,1,1,1,1

#### Isolating Traits

In [6]:
# show all trait keys
traits_json.keys()

dict_keys(['Background', 'Skin', 'Body', 'Face', 'Head'])

In [7]:
# explode the df
traits_df_exploded =  pd.DataFrame(traits_json)
traits_df_exploded = traits_df_exploded.explode("Background")

# create new dfs for each trait, sorted by values
# if you don't do reset_index(drop=True), it appears as a series
background_trait_df = traits_df_exploded["Background"].dropna().sort_values(ascending=False).reset_index()
skin_trait_df = traits_df_exploded["Skin"].dropna().sort_values(ascending=False).reset_index()
body_trait_df = traits_df_exploded["Body"].dropna().sort_values(ascending=False).reset_index()
face_trait_df = traits_df_exploded["Face"].dropna().sort_values(ascending=False).reset_index()
head_trait_df = traits_df_exploded["Head"].dropna().sort_values(ascending=False).reset_index()

# rename columns and set indices
background_trait_df = background_trait_df.rename(columns={"index":"background", "Background":"count"}).set_index("background")
skin_trait_df = skin_trait_df.rename(columns={"index":"skin", "Skin":"count"}).set_index("skin")
body_trait_df = body_trait_df.rename(columns={"index":"body", "Body":"count"}).set_index("body")
face_trait_df = face_trait_df.rename(columns={"index":"face", "Face":"count"}).set_index("face")
head_trait_df = head_trait_df.rename(columns={"index":"head", "Head":"count"}).set_index("head")

# display trait dataframes
display(background_trait_df, skin_trait_df, body_trait_df, face_trait_df, head_trait_df)

                    count
background
Blue               1587.0
Mint               1389.0
Purple             1282.0
Beige              1152.0
Tangerine          1135.0
Yellow              873.0
Red                 755.0
Pink                710.0
On The Beach          1.0
Supermarket           1.0
Green                 1.0
Trick Or Treating     1.0
Underwater            1.0

               count
skin
Normal        2649.0
Dark Gray     1329.0
Light Gray    1189.0
Maroon         731.0
Olive Green    705.0
Cream          646.0
Baby Pink      623.0
Mint           423.0
Red            344.0
Leopard Pink    89.0
Leopard Gray    89.0
Gold            44.0
Ice             22.0
Navy Blue        4.0
Black            1.0

                  count
body
Shirt Blue        290.0
Kimono Brown      268.0
Shirt Red         259.0
Turtleneck Green  254.0
Scarf Green       250.0
...                 ...
Pineapple Suit      1.0
Banana Suit         1.0
Mirrored            1.0
Pillow Case         1.0
Shark Suit          1.0

[64 rows x 1 columns]

                count
face
Winking         961.0
Blushing        932.0
Normal          864.0
Circle Glasses  768.0
Cute            588.0
Monocle         496.0
Squad           445.0
Eyepatch        426.0
Cross Eyed      417.0
Clout Goggles   342.0
Aviator         341.0
Beard           320.0
Scar            274.0
Cucumbers       269.0
Star Glasses    265.0
Handlebar Bear  259.0
Football        238.0
Goggles         191.0
Mustache        169.0
Villain Mask     89.0
Hero Mask Red    71.0
Hero Mask Blue   71.0
Scouter          67.0
Star Struck      22.0
Mirrored          1.0
Pillow Case       1.0
Agitated          1.0

                    count
head
Headband            357.0
Flat Cap Blue       355.0
Bucket Hat Green    349.0
Backwards Hat Red   294.0
Hat Blue            286.0
Top Hat             282.0
Hat Red             279.0
Beanie Orange       276.0
Flat Cap Tan        274.0
Beanie Gray         271.0
Mohawk Purple       269.0
Afro With Pick      257.0
Sombrero            255.0
Mohawk Green        255.0
Cowboy Hat          252.0
Durag Blue          252.0
None                250.0
Macaroni            249.0
Camo Helmet         248.0
Flat Cap Black      247.0
Bucket Hat Tan      219.0
Grizzly Bear Hat    209.0
Santa Hat           208.0
Viking Helmet       196.0
Party Hat           196.0
Wizard Hat          186.0
Pirate Hat          182.0
Jester's Hat        176.0
Durag Red           174.0
Backwards Hat Blue  173.0
Fish Green          117.0
Beanie Pink          90.0
Sideways Red         90.0
Bowl Cut             89.0
Ninja Headband       89.0
Fish Blue            89.0
Sideways Blue        89.0
Panda Hat            89.0
Rice Hat             89.0
Polar Bear Hat       89.0
Egg                  89.0
Biker Helmet         88.0
Flower Crown         66.0
Crown                58.0
Hatched              53.0
Egg Gold             45.0
Fish Orange          44.0
Fish Gold            22.0
Ice Crown            14.0
Hatched Gold          9.0
Pineapple Suit        1.0
Shark Suit            1.0
Banana Suit           1.0
Normal                1.0

# Data for Model

## 30 Days of Events

In [8]:
# Set today's date
today = datetime.datetime.now()

# set number of days in past
past_date = today - datetime.timedelta(days=30)

# Convert to unix (starting 1970!)
unix_past_date = int(past_date.timestamp())

# Create blank df to store page data
events_df = pd.DataFrame()

# Initialize next_event variable
next_event = None

while True:
    url = f"https://api.opensea.io/api/v2/events/collection/pudgypenguins?after={unix_past_date}&event_type=sale"
    if next_event:
        # This adds the next event value (and required syntax) to the URL string
        url += f"&next={next_event}"

    headers = {
        "accept": "application/json",
        "x-api-key": opensea_api_key
    }

    response = requests.get(url, headers=headers)

    # Formatting as json
    events_json = response.json()

    # Get the "asset events"
    events_data = events_json.get("asset_events", [])
    
    # Store to df
    page_events_df = pd.json_normalize(events_data)
    
    # Concatenate to master df
    events_df = pd.concat([events_df, page_events_df], ignore_index=True)
    
    # Update next_event for pagination
    next_event = events_json.get("next")

    # If there are no more pages, exit the loop
    if not next_event:
        break

# preview
events_df

,event_type,order_hash,chain,protocol_address,closing_date,quantity,seller,buyer,transaction,event_timestamp,...,nft.image_url,nft.metadata_url,nft.opensea_url,nft.updated_at,nft.is_disabled,nft.is_nsfw,payment.quantity,payment.token_address,payment.decimals,payment.symbol
0,sale,0x64f780c62477a1f04e94dfb6fd49a39679de309c68be...,ethereum,0x0000000000000068f116a894984e2db1123eb395,1714487579,1,0x5b468edb7688e9ae6c1fa5a6d2debbef06e92907,0xf07a2439296e07bc4320af924e655a01fb69d89c,0x0b964b4816377286d20fff153d21a71404853c00addf...,1714487579,...,https://ipfs.io/ipfs/QmNf1UsmdGaMbpatQ6toXSkzD...,https://ipfs.io/ipfs/bafybeibc5sgo2plmjkq2tzmh...,https://opensea.io/assets/ethereum/0xbd3531da5...,2024-04-30T14:33:01.866832,False,False,11799999000000000008,0x0000000000000000000000000000000000000000,18,ETH
1,sale,,ethereum,,1714486295,1,0x116986e9c95c0ecf4a99ce82dd48b9044ae44a19,0xf91576dad2b5b597d2da8c0b309935a8e819e5d3,0xac41f45a236ae0d0a6cef6db9e0ae2f0dbc2cf4f380c...,1714486295,...,https://ipfs.io/ipfs/QmNf1UsmdGaMbpatQ6toXSkzD...,https://ipfs.io/ipfs/bafybeibc5sgo2plmjkq2tzmh...,https://opensea.io/assets/ethereum/0xbd3531da5...,2024-04-30T14:11:36.515386,False,False,11679000000000000000,0x0000000000000000000000000000000000000000,18,ETH
2,sale,,ethereum,,1714469075,1,0x29469395eaf6f95920e59f858042f0e28d98a20b,0x6d02ce0cd50bff383035e1de5c8b2235fb22e4e8,0x62b760acaac2bfdb7358de76915745f64474fee9baf2...,1714469075,...,https://ipfs.io/ipfs/QmNf1UsmdGaMbpatQ6toXSkzD...,https://ipfs.io/ipfs/bafybeibc5sgo2plmjkq2tzmh...,https://opensea.io/assets/ethereum/0xbd3531da5...,2024-04-30T09:24:38.165679,False,False,11150000000000000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18,WETH
3,sale,,ethereum,,1714468895,1,0x29469395eaf6f95920e59f858042f0e28d98a20b,0x6d02ce0cd50bff383035e1de5c8b2235fb22e4e8,0x27b6a01d4acc9484ce6c95bdaa235b1104e5ce44b4f5...,1714468895,...,https://ipfs.io/ipfs/QmNf1UsmdGaMbpatQ6toXSkzD...,https://ipfs.io/ipfs/bafybeibc5sgo2plmjkq2tzmh...,https://opensea.io/assets/ethereum/0xbd3531da5...,2024-04-30T09:21:37.570443,False,False,11170000000000000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18,WETH
4,sale,,ethereum,,1714468283,1,0x2d5b975f8df3edea0f9f9f6743c34c461524d286,0x6d02ce0cd50bff383035e1de5c8b2235fb22e4e8,0xdfadbba286db88e79d9750f4a102475f72dc4ffa1e08...,1714468283,...,https://ipfs.io/ipfs/QmNf1UsmdGaMbpatQ6toXSkzD...,https://ipfs.io/ipfs/bafybeibc5sgo2plmjkq2tzmh...,https://opensea.io/assets/ethereum/0xbd3531da5...,2024-04-30T09:11:26.434012,False,False,11210000000000000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18,WETH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1461,sale,0x414d93172755fffeebbe2d73b2f0b16545a43fa9dda8...,ethereum,0x00000000000000adc04c56bf30ac9d3c0aaf14dc,1711947983,1,0xe83529399fb373ad7fcb92d4e738c4651c093aac,0x645998e8aa4817ed6c6fe244482d8842ace72c29,0x5df81ebb12f66866b2130e4932265ca0f3fe61f1478f...,1711947983,...,https://ipfs.io/ipfs/QmNf1UsmdGaMbpatQ6toXSkzD...,https://ipfs.io/ipfs/bafybeibc5sgo2plmjkq2tzmh...,https://opensea.io/assets/ethereum/0xbd3531da5...,2024-04-18T03:49:39.292137,False,False,13368300000000000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18,WETH
1462,sale,,ethereum,,1711947863,1,0x29469395eaf6f95920e59f858042f0e28d98a20b,0xa69833b9fda816f1bfc79517e7932e64708df0dd,0x9f5592a53405dde4b9c9e2e6a810c0baf050c540d37a...,1711947863,...,https://ipfs.io/ipfs/QmNf1UsmdGaMbpatQ6toXSkzD...,https://ipfs.io/ipfs/bafybeibc5sgo2plmjkq2tzmh...,https://opensea.io/assets/ethereum/0xbd3531da5...,2024-04-02T23:04:14.322692,False,False,13450000000000000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18,WETH
1463,sale,,ethereum,,1711947863,1,0x29469395eaf6f95920e59f858042f0e28d98a20b,0x7a6b049d83554da1175d65be3f6264a74a05ae17,0xc0e6134b5ae45ba658413939651ec4a3483f5be20ae5...,1711947863,...,https://ipfs.io/ipfs/QmNf1UsmdGaMbpatQ6toXSkzD...,https://ipfs.io/ipfs/bafybeibc5sgo2plmjkq2tzmh...,https://opensea.io/assets/ethereum/0xbd3531da5...,2024-04-04T23:42:25.954490,False,False,13450000000000000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18,WETH
1464,sale,,ethereum,,1711930919,1,0x29469395eaf6f95920e59f858042f0e28d98a20b,0xa8a3405523fe0b311f8ae4b4b9e5d670ae64436d,0x66551514e77ab169135486d2e8e1e6dc6f8fb58e7ab9...,1711930919,...,https://ipfs.io/ipfs/QmNf1UsmdGaMbpatQ6toXSkzD...,https://ipfs.io/ipfs/bafybeibc5sgo2plmjkq2tzmh...,https://opensea.io/assets/ethereum/0xbd3531da5...,2024-04-01T00:22:02.321751,False,False,13260000000000000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18,WETH
1465,sale,,ethereum,,1711919747,1,0xfc7d36f09f0610ca72457aaa85e933ed07629b5f,0xda05f6e8ecdac56b7a208eaf000fabeb4b001949,0xb1fffcc2ef80220e14c374017bd3f03c72c3fee9f75d...,1711919747,...,https://ipfs.io/ipfs/QmNf1UsmdGaMbpatQ6toXSkzD...,https://ipfs.io/ipfs/bafybeibc5sgo2plmjkq2tzmh...,https://opensea.io/assets/ethereum/0xbd3531da5...,2024-03-31T21:15:50.420494,False,False,13250000000000000000,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18,WETH

### Individual NFT Info

#### query parameters from https://docs.opensea.io/reference/get_nft

In [9]:
# PATH PARAMETERS

# note: nft contract is the same for the whole collection

# identify nft contract (public blockchain address)
# this creates an array
protocol_address = events_df["nft.contract"].unique()

# eliminate the null by getting the max of the array
protocol_address = np.max(protocol_address)

# find unique values for chain (currency)
chain = events_df["chain"].unique().tolist()

# write value without list
chain = chain[0]

# token ID in a list for iteration
token_id_list = events_df["nft.identifier"].drop_duplicates().to_list()

In [10]:
# parsing features function
# credit: Sean!

def get_features (nft):
    features = {}
    features["Background"] = nft["traits"][0]["value"]
    features["Skin"] = nft["traits"][1]["value"]
    features["Face"] = nft["traits"][2]["value"]
    features["Head"] = nft["traits"][3]["value"]
    features["Body"] = nft["traits"][4]["value"]
    features["Rarity"] = nft["rarity"]["rank"]
    
    return features

In [11]:
nfts_dict = {}
token_id = token_id_list[0]

for token_id in token_id_list:
    url = f"https://api.opensea.io/api/v2/chain/{chain}/contract/{protocol_address}/nfts/{token_id}"
    headers = {
        "accept": "application/json",
        "x-api-key": opensea_api_key
    }

    response = requests.get(url, headers=headers)

    # Formatting as json
    nfts_json = response.json()
    
    nfts_dict[token_id] = get_features(nfts_json["nft"])

In [12]:
nfts_dict

nfts_df = pd.DataFrame(nfts_dict).transpose()

nfts_df

,Background,Skin,Face,Head,Body,Rarity
2773,Beige,Maroon,Cute,Beanie Orange,Scarf Green,5598
5673,Blue,Normal,Kimono Brown,Handlebar Bear,Top Hat,7747
1997,Blue,Normal,Cute,Silver Medal,Hat Red,8040
6099,Beige,Normal,Blushing,Bucket Hat Green,Scarf Pink,8697
8459,Yellow,Eyepatch,Beanie Gray,Olive Green,Crop Top,1342
...,...,...,...,...,...,...
4116,Beige,Shirt Blue,Blushing,Flat Cap Black,Red,4811
3164,Beige,Normal,Olive Green,Bow Tie Pink,Hat Red,5551
6277,Light Gray,Normal,Tangerine,Fish Green,Tank Top Blue,4945
8859,Normal,Tangerine,Squad,Turtleneck Pink,Jester's Hat,6222
7781,Light Gray,Red,Beanie Gray,Kimono Red,Handlebar Bear,2319

In [13]:
combined_events_df = events_df[["nft.identifier", "closing_date", "payment.quantity"]]

combined_events_df.set_index("nft.identifier", inplace=True)

combined_events_df

                closing_date      payment.quantity
nft.identifier
2773              1714487579  11799999000000000008
5673              1714486295  11679000000000000000
1997              1714469075  11150000000000000000
6099              1714468895  11170000000000000000
8459              1714468283  11210000000000000000
...                      ...                   ...
2987              1711947983  13368300000000000000
1380              1711947863  13450000000000000000
708               1711947863  13450000000000000000
8859              1711930919  13260000000000000000
7781              1711919747  13250000000000000000

[1466 rows x 2 columns]

In [14]:
combined_df = combined_events_df.merge(nfts_df, how="outer", right_index=True, left_index=True)

combined_df.sample(10)

,closing_date,payment.quantity,Background,Skin,Face,Head,Body,Rarity
nft.identifier,,,,,,,,
7731,1713177755,10010000000000000000,Winking,Mint,Normal,Turtleneck Blue,Sideways Red,7600
7488,1713396743,10120000000000000000,Blue,Normal,Turtleneck Green,Circle Glasses,Sideways Blue,7542
1961,1713616115,10040000000000000000,Blue,Backwards Hat Red,Baby Pink,Scarf Green,Monocle,5746
3852,1713139799,10750000000000000000,Normal,Tangerine,Eyepatch,Overalls,Grizzly Bear Hat,6416
6062,1714367807,11910000000000000000,Yellow,Cream,Clout Goggles,Camo Helmet,Ice Coat,1231
1961,1713703715,10140000000000000000,Blue,Backwards Hat Red,Baby Pink,Scarf Green,Monocle,5746
1583,1712907191,11480000000000000000,Blue,Dark Gray,Bow Tie Black,Monocle,Camo Helmet,6664
2664,1713370355,10080000000000000000,Mint,Normal,Beard,Turtleneck Green,Mohawk Purple,7700
7270,1712137823,11540000000000000000,Winking,Normal,Yellow,Huddle Shirt,Flat Cap Blue,8711
5293,1712717519,12080000000000000000,Beige,Mint,Cucumbers,Puffer Blue,Top Hat,1223

## Encoding Cat Data (Training)

In [15]:
combined_df.dtypes

closing_date         int64
payment.quantity    object
Background          object
Skin                object
Face                object
Head                object
Body                object
Rarity              object
dtype: object

#### Change Wei to Eth so that we can convert data types.

In [16]:
# change payment.quantity (Wei) to float
# we did not use int because of the overfloat error - no difference with float (both numerical)
combined_df[["payment.quantity", "Rarity"]] = combined_df[["payment.quantity", "Rarity"]].astype(float)

# check
combined_df.dtypes

closing_date          int64
payment.quantity    float64
Background           object
Skin                 object
Face                 object
Head                 object
Body                 object
Rarity              float64
dtype: object

In [17]:
# encoding features

# create instance of OneHotEncoder
encoder = OneHotEncoder(sparse_output=False)

# create a list of columns to encode
cat_columns = ["Background", "Skin", "Face", "Head", "Body"]

# encode columns
encoded = encoder.fit_transform(combined_df[cat_columns])

# create a dataframe with the encoded columns and numerical columns
encoded_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out(cat_columns))

# concat with numerical columns
encoded_df = pd.concat([combined_df.reset_index(drop=True), encoded_df.reset_index(drop=True)], axis=1)

# drop cat columns
encoded_df.drop(columns=cat_columns, inplace=True)

encoded_df.sample(5)

,closing_date,payment.quantity,Rarity,Background_Baby Pink,Background_Backwards Hat Blue,Background_Beige,Background_Blue,Background_Bow Tie Blue,Background_Bucket Hat Tan,Background_Cute,...,Body_Surfboard Necklace,Body_Swordman,Body_Tank Top Blue,Body_Top Hat,Body_Tribal Necklace,Body_Turtleneck Blue,Body_Turtleneck Green,Body_Turtleneck Pink,Body_Viking Helmet,Body_Villain Mask
383,1711947983,1.336830e+19,8263.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
697,1712668751,1.164000e+19,5756.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1246,1713779651,1.021000e+19,4267.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
975,1712959739,1.140000e+19,6444.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
842,1713835103,1.080000e+19,3407.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
978,1713559931,1.019000e+19,7916.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
781,1713140975,1.062000e+19,3454.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
581,1713757763,1.030000e+19,5462.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1125,1713762527,1.019000e+19,8530.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
888,1713233879,1.023000e+19,8045.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
258,1713117299,1.074000e+19,5204.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
341,1713688967,1.002000e+19,7247.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
651,1713365207,1.010000e+19,4176.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
936,1712819027,1.145000e+19,6514.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
950,1713560639,1.015000e+19,7809.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
916,1713043031,1.062000e+19,1635.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
813,1713629435,1.004000e+19,8099.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
510,1712798963,1.190000e+19,6416.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1020,1713143135,1.105000e+19,5437.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1324,1714145327,1.199000e+19,1749.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
713,1713645551,1.175000e+19,5785.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1075,1713779639,1.021000e+19,4748.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
495,1713782135,1.017000e+19,6416.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1268,1712913635,1.135000e+19,2201.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
443,1712059343,1.152000e+19,8650.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
299,1713626603,1.006000e+19,5597.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1284,1711919747,1.325000e+19,2319.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
143,1713450191,1.025000e+19,5746.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
884,1713983147,1.095000e+19,8045.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1179,1713043535,1.102400e+19,7540.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Encoded dataframe for current price.

#### Creating a list of NFTs in the collection
In the end, we could have created a list of 0-8887, but in the event that there were inconsistencies, we checked with the API. It does not appear that there are inconsistencies though.

In [21]:
# Create blank df to store page data
nftslist_df = pd.DataFrame()

# Initialize next_event variable
next_event = None

while True:
    url = f"https://api.opensea.io/api/v2/collection/pudgypenguins/nfts"
    if next_event:
        # This adds the next event value (and required syntax) to the URL string
        url += f"?next={next_event}"

    headers = {
        "accept": "application/json",
        "x-api-key": opensea_api_key
    }

    response = requests.get(url, headers=headers)

    # Formatting as json
    nftslist_json = response.json()

    # Get and exclude "next" key
    nftslist_data = nftslist_json.get("nfts")
    
    # Store to df
    page_nftslist_df = pd.json_normalize(nftslist_data)
    
    # Concatenate to master df, isolating "identifier" (aka token_id)
    nftslist_df = pd.concat([nftslist_df, page_nftslist_df["identifier"]], ignore_index=True)
    
    # Update next_event for pagination
    next_event = nftslist_json.get("next")

    # If there are no more pages, exit the loop
    if not next_event:
        break

# create an array of unique values to eliminate potential duplicates
nfts_array = nftslist_df[0].unique()

# create a list for the token_ids
nfts_list = []

# add array items to list
for nft in nfts_array:
    nfts_list.append(nft)
    

display(nfts_list[0:10], len(nfts_list))

['8885',
 '8884',
 '8883',
 '8882',
 '8881',
 '8880',
 '8879',
 '8878',
 '8875',
 '8877',
 '8874',
 '8873',
 '8887',
 '8886',
 '8876',
 '8793',
 '8792',
 '8791',
 '8790',
 '8789',
 '8788',
 '8787',
 '8786',
 '8785',
 '8784',
 '8783',
 '8782',
 '8849',
 '8828',
 '8812',
 '8848',
 '8781',
 '8827',
 '8811',
 '8847',
 '8780',
 '8826',
 '8872',
 '8810',
 '8846',
 '8859',
 '8825',
 '8871',
 '8809',
 '8845',
 '8779',
 '8858',
 '8824',
 '8818',
 '8808',
 '8870',
 '8778',
 '8857',
 '8844',
 '8798',
 '8823',
 '8838',
 '8817',
 '8807',
 '8869',
 '8843',
 '8856',
 '8777',
 '8797',
 '8806',
 '8837',
 '8816',
 '8822',
 '8867',
 '8868',
 '8776',
 '8842',
 '8862',
 '8855',
 '8796',
 '8805',
 '8836',
 '8866',
 '8831',
 '8821',
 '8815',
 '8833',
 '8795',
 '8852',
 '8841',
 '8861',
 '8775',
 '8804',
 '8830',
 '8865',
 '8802',
 '8854',
 '8835',
 '8820',
 '8814',
 '8800',
 '8839',
 '8794',
 '8819',
 '8851',
 '8863',
 '8853',
 '8864',
 '8840',
 '8860',
 '8850',
 '8832',
 '8801',
 '8829',
 '8834',
 '8803',
 '8774',
 '8813',
 '8799',
 '8753',
 '8696',
 '8752',
 '8695',
 '8751',
 '8694',
 '8750',
 '8693',
 '8749',
 '8711',
 '8692',
 '8748',
 '8691',
 '8710',
 '8747',
 '8690',
 '8709',
 '8746',
 '8689',
 '8745',
 '8708',
 '8688',
 '8744',
 '8707',
 '8687',
 '8706',
 '8743',
 '8686',
 '8705',
 '8742',
 '8685',
 '8704',
 '8741',
 '8684',
 '8703',
 '8740',
 '8683',
 '8702',
 '8739',
 '8769',
 '8682',
 '8721',
 '8764',
 '8701',
 '8738',
 '8729',
 '8716',
 '8768',
 '8681',
 '8674',
 '8720',
 '8700',
 '8737',
 '8763',
 '8728',
 '8715',
 '8767',
 '8680',
 '8673',
 '8759',
 '8719',
 '8736',
 '8699',
 '8756',
 '8762',
 '8727',
 '8714',
 '8766',
 '8724',
 '8679',
 '8672',
 '8758',
 '8755',
 '8735',
 '8698',
 '8761',
 '8733',
 '8718',
 '8726',
 '8676',
 '8713',
 '8731',
 '8723',
 '8678',
 '8671',
 '8773',
 '8675',
 '8765',
 '8770',
 '8757',
 '8697',
 '8772',
 '8771',
 '8734',
 '8754',
 '8760',
 '8725',
 '8730',
 '8732',
 '8712',
 '8677',
 '8717',
 '8722',
 '8670',
 '8622',
 '8580',
 '8621',
 '8602',
 '8658',
 '8579',
 '8620',
 '8657',
 '8601',
 '8578',
 '8656',
 '8619',
 '8600',
 '8655',
 '8618',
 '8599',
 '8577',
 '8654',
 '8598',
 '8617',
 '8576',
 '8653',
 '8597',
 '8616',
 '8575',
 '8652',
 '8596',
 '8615',
 '8574',
 '8651',
 '8595',
 '8573',
 '8614',
 '8650',
 '8572',
 '8594',
 '8613',
 '8649',
 '8571',
 '8593',
 '8612',
 '8648',
 '8668',
 '8592',
 '8570',
 '8611',
 '8632',
 '8647',
 '8591',
 '8667',
 '8569',
 '8610',
 '8631',
 '8646',
 '8568',
 '8666',
 '8590',
 '8630',
 '8609',
 '8645',
 '8589',
 '8665',
 '8629',
 '8567',
 '8608',
 '8628',
 '8644',
 '8588',
 '8664',
 '8566',
 '8663',
 '8607',
 '8638',
 '8587',
 '8627',
 '8565',
 '8643',
 '8662',
 '8626',
 '8637',
 '8564',
 '8586',
 '8606',
 '8642',
 '8563',
 '8661',
 '8585',
 '8625',
 '8641',
 '8636',
 '8605',
 '8562',
 '8640',
 '8660',
 '8584',
 '8624',
 '8635',
 '8582',
 '8604',
 '8561',
 '8669',
 '8583',
 '8634',
 '8633',
 '8639',
 '8623',
 '8659',
 '8603',
 '8581',
 '8544',
 '8504',
 '8543',
 '8490',
 '8503',
 '8542',
 '8489',
 '8502',
 '8541',
 '8488',
 '8501',
 '8487',
 '8513',
 '8555',
 '8500',
 '8525',
 '8540',
 '8486',
 '8548',
 '8512',
 '8554',
 '8499',
 '8518',
 '8524',
 '8470',
 '8539',
 '8485',
 '8558',
 '8475',
 '8560',
 '8553',
 '8530',
 '8509',
 '8480',
 '8517',
 '8523',
 '8484',
 '8538',
 '8557',
 '8498',
 '8469',
 '8552',
 '8474',
 '8529',
 '8508',
 '8494',
 '8479',
 '8516',
 '8522',
 '8483',
 '8537',
 '8550',
 '8559',
 '8497',
 '8528',
 '8507',
 '8468',
 '8493',
 '8478',
 '8473',
 '8547',
 '8556',
 '8515',
 '8521',
 '8551',
 '8532',
 '8536',
 '8482',
 '8496',
 '8506',
 '8527',
 '8492',
 '8467',
 '8477',
 '8534',
 '8472',
 '8549',
 '8511',
 '8535',
 '8545',
 '8514',
 '8520',
 '8531',
 '8546',
 '8495',
 '8519',
 '8481',
 '8526',
 '8510',
 '8533',
 '8505',
 '8491',
 '8466',
 '8471',
 '8476',
 '8462',
 '8461',
 '8460',
 '8342',
 '8459',
 '8341',
 '8458',
 '8340',
 '8457',
 '8339',
 '8274',
 '8456',
 '8305',
 '8338',
 '8273',
 '8455',
 '8304',
 '8272',
 '8454',
 '8337',
 '8303',
 '8271',
 '8453',
 '8302',
 '8270',
 '8452',
 '8336',
 '8301',
 '8269',
 '8335',
 '8451',
 '8300',
 '8430',
 '8268',
 '8334',
 '8299',
 '8450',
 '8404',
 '8429',
 '8389',
 '8333',
 '8267',
 '8298',
 '8420',
 '8403',
 '8428',
 '8449',
 '8332',
 '8388',
 '8266',
 '8419',
 '8297',
 '8427',
 '8402',
 '8448',
 '8465',
 '8387',
 '8331',
 '8265',
 '8296',
 '8418',
 '8401',
 '8426',
 '8447',
 '8386',
 '8369',
 '8264',
 '8295',
 '8417',
 '8400',
 '8436',
 '8358',
 '8425',
 '8446',
 '8385',
 '8379',
 '8368',
 '8442',
 '8294',
 '8416',
 '8263',
 '8435',
 '8399',
 '8424',
 '8357',
 '8367',
 '8378',
 '8445',
 '8384',
 '8330',
 '8293',
 '8441',
 '8262',
 '8415',
 '8409',
 '8394',
 '8434',
 '8423',
 '8356',
 '8398',
 '8366',
 '8377',
 '8444',
 '8383',
 '8329',
 '8440',
 '8292',
 '8261',
 '8414',
 '8408',
 '8393',
 '8433',
 '8422',
 '8355',
 '8376',
 '8382',
 '8397',
 '8439',
 '8392',
 '8365',
 '8407',
 '8328',
 '8411',
 '8432',
 '8260',
 '8413',
 '8291',
 '8464',
 '8463',
 '8375',
 '8381',
 '8354',
 '8391',
 '8406',
 '8253',
 '8443',
 '8396',
 '8364',
 '8327',
 '8259',
 '8290',
 '8374',
 '8421',
 '8438',
 '8347',
 '8316',
 '8437',
 '8353',
 '8431',
 '8252',
 '8326',
 '8363',
 '8412',
 '8289',
 '8410',
 '8380',
 '8258',
 '8373',
 '8405',
 '8346',
 '8315',
 '8310',
 '8390',
 '8251',
 '8352',
 '8395',
 '8277',
 '8325',
 '8362',
 '8321',
 '8288',
 '8372',
 '8345',
 '8257',
 '8314',
 '8280',
 '8309',
 '8351',
 '8250',
 '8318',
 '8324',
 '8276',
 '8361',
 '8287',
 '8371',
 '8320',
 '8256',
 '8344',
 '8308',
 '8279',
 '8313',
 '8285',
 '8350',
 '8283',
 '8249',
 '8370',
 '8348',
 '8317',
 '8275',
 '8255',
 '8359',
 '8323',
 '8360',
 '8282',
 '8319',
 '8307',
 '8286',
 '8284',
 '8278',
 '8343',
 '8349',
 '8312',
 '8322',
 '8306',
 '8311',
 '8281',
 '8248',
 '8247',
 '8254',
 '8187',
 '8186',
 '8167',
 '8240',
 '8185',
 '8166',
 '8239',
 '8184',
 '8165',
 '8183',
 '8238',
 '8164',
 '8182',
 '8237',
 '8181',
 '8163',
 '8236',
 '8180',
 '8162',
 '8235',
 '8161',
 '8179',
 '8234',
 '8160',
 '8233',
 '8159',
 '8232',
 '8158',
 '8231',
 '8157',
 '8178',
 '8197',
 '8230',
 '8156',
 '8177',
 '8196',
 '8229',
 '8228',
 '8176',
 '8155',
 '8195',
 '8227',
 '8175',
 '8194',
 '8154',
 '8246',
 '8174',
 '8193',
 '8226',
 '8153',
 '8245',
 '8173',
 '8202',
 '8192',
 '8220',
 '8152',
 '8225',
 '8207',
 '8172',
 '8244',
 '8219',
 '8213',
 '8201',
 '8191',
 '8151',
 '8224',
 '8171',
 '8206',
 '8243',
 '8218',
 '8200',
 '8150',
 '8212',
 '8190',
 '8223',
 '8170',
 '8205',
 '8217',
 '8242',
 '8209',
 '8222',
 '8211',
 '8149',
 '8189',
 '8199',
 '8169',
 '8204',
 '8241',
 '8216',
 '8215',
 '8198',
 '8221',
 '8208',
 '8168',
 '8210',
 '8188',
 '8214',
 '8148',
 '8203',
 '8077',
 '8100',
 '8076',
 '8099',
 '8075',
 '8098',
 '8074',
 '8097',
 '8073',
 '8096',
 '8072',
 '8095',
 '8071',
 '8094',
 '8070',
 '8093',
 '8069',
 '8057',
 '8092',
 '8068',
 '8056',
 '8091',
 '8067',
 '8055',
 '8090',
 '8125',
 '8113',
 '8054',
 '8066',
 '8089',
 '8124',
 '8112',
 '8053',
 '8065',
 '8088',
 '8123',
 '8111',
 '8052',
 '8087',
 '8064',
 '8122',
 '8110',
 '8086',
 '8051',
 '8063',
 '8121',
 '8109',
 '8085',
 '8147',
 '8050',
 '8120',
 '8062',
 '8138',
 '8108',
 '8049',
 '8146',
 '8119',
 '8137',
 '8084',
 '8107',
 '8061',
 '8131',
 '8048',
 '8145',
 '8136',
 '8118',
 '8083',
 '8106',
 '8060',
 '8128',
 '8130',
 '8047',
 '8144',
 '8102',
 '8135',
 '8133',
 '8082',
 '8117',
 '8080',
 '8142',
 '8105',
 '8115',
 '8127',
 '8059',
 '8140',
 '8046',
 '8129',
 '8134',
 '8143',
 '8139',
 '8141',
 '8101',
 '8132',
 '8079',
 '8104',
 '8081',
 '8116',
 '8126',
 '8114',
 '8058',
 '8045',
 '8103',
 '8078',
 '7989',
 '7988',
 '8044',
 '7987',
 '8014',
 '8043',
 '7986',
 '8013',
 '8042',
 '8012',
 '7985',
 '8041',
 '8011',
 '7984',
 '8040',
 '8010',
 '7983',
 '8039',
 '8009',
 '7982',
 '8038',
 '8008',
 '8037',
 '7981',
 '8007',
 '8036',
 '7980',
 '8006',
 '8035',
 '7979',
 '8005',
 '8034',
 '7978',
 '8004',
 '8033',
 '8003',
 '7957',
 '7977',
 '8032',
 '8002',
 '7964',
 '7976',
 '7956',
 '8031',
 '8001',
 '7975',
 '7963',
 '7955',
 '8030',
 '8000',
 '7974',
 '7962',
 '7954',
 '8029',
 '8024',
 '7999',
 '7994',
 '7973',
 '7961',
 '7953',
 '8028',
 '8023',
 '7998',
 '7993',
 '8018',
 '7972',
 '7960',
 '7952',
 '7997',
 '8027',
 '8022',
 '7992',
 '7967',
 '8017',
 '7971',
 '7959',
 '7951',
 '8026',
 '7996',
 '8021',
 '7991',
 '7966',
 '8016',
 '7969',
 '7970',
 '7990',
 '8020',
 '8015',
 '7950',
 '7958',
 '7995',
 '8019',
 '8025',
 '7965',
 '7968',
 '7892',
 '7938',
 '7891',
 '7937',
 '7890',
 '7936',
 '7889',
 '7935',
 '7888',
 '7934',
 '7887',
 '7912',
 '7849',
 '7933',
 '7886',
 '7911',
 '7848',
 '7932',
 '7885',
 '7910',
 '7847',
 '7931',
 '7884',
 '7909',
 '7846',
 '7930',
 '7883',
 '7908',
 '7845',
 '7929',
 '7882',
 '7907',
 '7844',
 '7928',
 '7872',
 '7881',
 '7906',
 '7843',
 '7871',
 '7927',
 '7905',
 '7880',
 '7862',
 '7842',
 '7870',
 '7926',
 '7879',
 '7841',
 '7904',
 '7861',
 '7869',
 '7925',
 '7878',
 '7840',
 '7918',
 '7903',
 '7860',
 '7868',
 '7924',
 '7948',
 '7943',
 '7854',
 ...]

8888

#### Create a dataframe of best offers.

In [22]:
# create URLs list
best_offer_urls = []

# loop through nfts_list to create a list of URLS
for nft in nfts_list:
    new_url = f"https://api.opensea.io/api/v2/offers/collection/pudgypenguins/nfts/{nft}/best"
    
    # add url to list of urls
    best_offer_urls.append(new_url)

In [23]:
# Create blank df to store page data
best_offer_df = pd.DataFrame()

for new_url in best_offer_urls:
    
    url = new_url
    
    headers = {
        "accept": "application/json",
        "x-api-key": opensea_api_key
    }

    response = requests.get(url, headers=headers)
    
    # Extract JSON data from the response
    response_json = response.json()
        
    # Convert JSON data to DataFrame
    ind_offer_df = pd.json_normalize(response_json.get("offers", []))
        
    # Concatenate the individual offer DataFrame to the master DataFrame
    best_offer_df = pd.concat([best_offer_df, ind_offer_df], ignore_index=True)

KeyboardInterrupt:

## Create static CSV file for model.

In [ ]:
encoded_df.to_csv("encoded_data.csv")