In [1]:
import requests
import pandas as pd
import os
from dotenv import load_dotenv
import json

In [2]:
load_dotenv()
opensea_api_key = os.getenv('OPENSEA_API_KEY')

# Data for Context and Analysis

### Collection Stats

In [3]:
url = "https://api.opensea.io/api/v2/collections/pudgypenguins/stats"

headers = {
    "accept": "application/json",
    "x-api-key": opensea_api_key
}

response = requests.get(url, headers=headers)

collection_stats_response_text = response.json()

collection_totals_dict = collection_stats_response_text["total"]

collection_totals_dict

{'volume': 342837.20465963596,
 'sales': 78694,
 'average_price': 4.356586330084072,
 'num_owners': 4763,
 'market_cap': 90761.61692796287,
 'floor_price': 12.56281407035176,
 'floor_price_symbol': 'ETH'}

## Trait Counts

In [4]:
url = "https://api.opensea.io/api/v2/traits/pudgypenguins"

headers = {
    "accept": "application/json",
    "x-api-key": opensea_api_key
}

response = requests.get(url, headers=headers)

# Formatting as json
traits_json = response.json()

display(traits_json)

# documentation: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.json_normalize.html
# similar to how OneHotEncoder creates new column names
traits_df = pd.json_normalize(traits_json)

# drop unnecessary datatype columns
traits_df = traits_df.iloc[:, 5:]

traits_df

{'categories': {'Background': 'string',
  'Skin': 'string',
  'Body': 'string',
  'Face': 'string',
  'Head': 'string'},
 'counts': {'Background': {'Beige': 1152,
   'Blue': 1587,
   'Mint': 1389,
   'Red': 755,
   'Tangerine': 1135,
   'Yellow': 873,
   'Pink': 710,
   'Purple': 1282,
   'On The Beach': 1,
   'Supermarket': 1,
   'Green': 1,
   'Trick Or Treating': 1,
   'Underwater': 1},
  'Skin': {'Light Gray': 1189,
   'Mint': 423,
   'Maroon': 731,
   'Normal': 2649,
   'Leopard Pink': 89,
   'Dark Gray': 1329,
   'Baby Pink': 623,
   'Cream': 646,
   'Olive Green': 705,
   'Red': 344,
   'Gold': 44,
   'Leopard Gray': 89,
   'Ice': 22,
   'Navy Blue': 4,
   'Black': 1},
  'Body': {'Vote 4 Pudgy': 203,
   'Kimono Blue': 108,
   'Scarf Blue': 237,
   'Shirt Blue': 290,
   'Fish Lover': 70,
   'Turtleneck Grey': 210,
   'Lei Pink': 168,
   'Bow Tie Blue': 154,
   'Tank Top Yellow': 193,
   'Puffer Orange': 158,
   'Huddle Shirt': 228,
   'Kimono Brown': 268,
   'Lei Assorted': 76,
   'Bronze Medal': 193,
   'Gold Medal': 58,
   'Heart': 102,
   'Turtleneck Green': 254,
   'Scarf Pink': 177,
   'Surfboard Necklace': 166,
   'Swordman': 62,
   'Christmas Sweater Red': 89,
   'Bath Robe': 246,
   'Turtleneck Blue': 238,
   'Hoodie Black': 183,
   'Silver Medal': 141,
   'Puffer Green': 167,
   'Shirt Red': 259,
   'Kimono Orange': 115,
   'Christmas Lights': 131,
   'Turtleneck Pink': 182,
   'Suit Blue': 89,
   'Bow Tie Pink': 172,
   'Tribal Necklace': 115,
   'Overalls': 171,
   'Bow Tie Black': 193,
   'Scarf Green': 250,
   'Lei Blue': 180,
   'Kimono White': 89,
   'Christmas Sweater Blue': 89,
   'Kimono Red': 169,
   'Tank Top Blue': 202,
   'Puffer Blue': 158,
   'Kimono Gold': 44,
   'Biker Jacket': 67,
   'Apron': 199,
   'Lei Purple': 186,
   'Lab Coat': 227,
   'Shark Tooth Necklace': 88,
   'Hawaiian Shirt': 171,
   'Suit Red': 78,
   'Ice Coat': 123,
   'Kimono Pink': 89,
   'Hoodie Pink': 162,
   'Big P': 71,
   'Kimono Abstract': 53,
   'Crop Top': 89,
   'Kimono Ice': 22,
   'Pudgy Man': 44,
   'Pineapple Suit': 1,
   'Poncho': 167,
   'Banana Suit': 1,
   'Mirrored': 1,
   'Pillow Case': 1,
   'Shark Suit': 1},
  'Face': {'Winking': 961,
   'Star Glasses': 265,
   'Normal': 864,
   'Cute': 588,
   'Beard': 320,
   'Hero Mask Red': 71,
   'Scar': 274,
   'Blushing': 932,
   'Eyepatch': 426,
   'Clout Goggles': 342,
   'Squad': 445,
   'Circle Glasses': 768,
   'Goggles': 191,
   'Aviator': 341,
   'Villain Mask': 89,
   'Cross Eyed': 417,
   'Football': 238,
   'Mustache': 169,
   'Cucumbers': 269,
   'Monocle': 496,
   'Handlebar Bear': 259,
   'Scouter': 67,
   'Hero Mask Blue': 71,
   'Star Struck': 22,
   'Mirrored': 1,
   'Pillow Case': 1,
   'Agitated': 1},
  'Head': {'Backwards Hat Blue': 173,
   'Bucket Hat Tan': 219,
   'Santa Hat': 208,
   'Durag Blue': 252,
   'Backwards Hat Red': 294,
   'Durag Red': 174,
   'None': 250,
   'Ninja Headband': 89,
   'Afro With Pick': 257,
   'Bucket Hat Green': 349,
   'Flat Cap Black': 247,
   'Flat Cap Blue': 355,
   'Beanie Gray': 271,
   'Mohawk Green': 255,
   'Hat Blue': 286,
   'Fish Green': 117,
   'Beanie Orange': 276,
   'Wizard Hat': 186,
   'Sombrero': 255,
   'Beanie Pink': 90,
   'Cowboy Hat': 252,
   'Headband': 357,
   'Macaroni': 249,
   'Party Hat': 196,
   'Biker Helmet': 88,
   'Viking Helmet': 196,
   'Hat Red': 279,
   'Hatched': 53,
   'Mohawk Purple': 269,
   'Bowl Cut': 89,
   'Grizzly Bear Hat': 209,
   'Flat Cap Tan': 274,
   'Fish Blue': 89,
   'Fish Gold': 22,
   'Pirate Hat': 182,
   'Sideways Blue': 89,
   'Top Hat': 282,
   'Camo Helmet': 248,
   'Rice Hat': 89,
   'Polar Bear Hat': 89,
   'Egg': 89,
   "Jester's Hat": 176,
   'Panda Hat': 89,
   'Crown': 58,
   'Sideways Red': 90,
   'Egg Gold': 45,
   'Flower Crown': 66,
   'Fish Orange': 44,
   'Ice Crown': 14,
   'Hatched Gold': 9,
   'Pineapple Suit': 1,
   'Banana Suit': 1,
   'Normal': 1,
   'Shark Suit': 1}}}

,counts.Background.Beige,counts.Background.Blue,counts.Background.Mint,counts.Background.Red,counts.Background.Tangerine,counts.Background.Yellow,counts.Background.Pink,counts.Background.Purple,counts.Background.On The Beach,counts.Background.Supermarket,...,counts.Head.Sideways Red,counts.Head.Egg Gold,counts.Head.Flower Crown,counts.Head.Fish Orange,counts.Head.Ice Crown,counts.Head.Hatched Gold,counts.Head.Pineapple Suit,counts.Head.Banana Suit,counts.Head.Normal,counts.Head.Shark Suit
0,1152,1587,1389,755,1135,873,710,1282,1,1,...,90,45,66,44,14,9,1,1,1,1

# Data for Model

## NFTs

In [5]:
url = "https://api.opensea.io/api/v2/collection/pudgypenguins/nfts"

headers = {
    "accept": "application/json",
    "x-api-key": opensea_api_key
}

response = requests.get(url, headers=headers)

# Formatting as json
nfts_json = response.json()

nfts_df = pd.DataFrame(nfts_json["nfts"])

# rename "name" to "asset.name" to combine dfs
nfts_df.rename(columns={"name":"asset.name"}, inplace=True)

display(nfts_df.sample(3))

display(nfts_df.columns)

display(len(nfts_df))

,identifier,collection,contract,token_standard,asset.name,description,image_url,metadata_url,opensea_url,updated_at,is_disabled,is_nsfw
22,8786,pudgypenguins,0xbd3531da5cf5857e7cfaa92426877b022e612cf8,erc721,Pudgy Penguin #8786,A collection 8888 Cute Chubby Pudgy Penquins s...,https://ipfs.io/ipfs/QmNf1UsmdGaMbpatQ6toXSkzD...,https://ipfs.io/ipfs/bafybeibc5sgo2plmjkq2tzmh...,https://opensea.io/assets/ethereum/0xbd3531da5...,2023-07-26T20:08:28.141305,False,False
18,8790,pudgypenguins,0xbd3531da5cf5857e7cfaa92426877b022e612cf8,erc721,Pudgy Penguin #8790,A collection 8888 Cute Chubby Pudgy Penquins s...,https://ipfs.io/ipfs/QmNf1UsmdGaMbpatQ6toXSkzD...,https://ipfs.io/ipfs/bafybeibc5sgo2plmjkq2tzmh...,https://opensea.io/assets/ethereum/0xbd3531da5...,2023-07-26T20:08:36.673458,False,False
47,8824,pudgypenguins,0xbd3531da5cf5857e7cfaa92426877b022e612cf8,erc721,Pudgy Penguin #8824,A collection 8888 Cute Chubby Pudgy Penquins s...,https://ipfs.io/ipfs/QmNf1UsmdGaMbpatQ6toXSkzD...,https://ipfs.io/ipfs/bafybeibc5sgo2plmjkq2tzmh...,https://opensea.io/assets/ethereum/0xbd3531da5...,2023-07-26T20:09:49.308663,False,False

Index(['identifier', 'collection', 'contract', 'token_standard', 'asset.name',
       'description', 'image_url', 'metadata_url', 'opensea_url', 'updated_at',
       'is_disabled', 'is_nsfw'],
      dtype='object')

50

## Events

In [6]:

url = "https://api.opensea.io/api/v2/events/collection/pudgypenguins"

headers = {
    "accept": "application/json",
    "x-api-key": opensea_api_key
}

response = requests.get(url, headers=headers)

# Formatting as json
events_json = response.json()

# get the "asset events" key and all p
events_json = events_json.get("asset_events", [])

# create df
events_df = pd.json_normalize(events_json)

display(events_df.sample(3))

display(events_df.columns)

display(len(events_df))

,event_type,order_hash,order_type,chain,protocol_address,start_date,expiration_date,quantity,maker,taker,...,payment.token_address,payment.decimals,payment.symbol,asset,criteria.collection.slug,criteria.contract.address,criteria.trait.type,criteria.trait.value,criteria.encoded_token_ids,criteria.trait
22,order,0xcc2ee0109e42882dfd973d38335d202597c2cce1b5d6...,trait_offer,ethereum,0x0000000000000068f116a894984e2db1123eb395,1713929879,1713930479,1,0x645998e8aa4817ed6c6fe244482d8842ace72c29,,...,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18,WETH,NaN,pudgypenguins,0xbd3531da5cf5857e7cfaa92426877b022e612cf8,Skin,Light Gray,NaN,NaN
31,order,0x5e7200b46fe4d461efb15a51f32af0b143890b3a1865...,item_offer,ethereum,0x0000000000000068f116a894984e2db1123eb395,1713929871,1713931057,1,0x3c8a29342d58a27ab0d913f808aed1578f59433a,,...,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18,WETH,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,order,0x531e174f54e944043115027b3fc2d6102453094eec98...,trait_offer,ethereum,0x0000000000000068f116a894984e2db1123eb395,1713929868,1713930468,1,0x645998e8aa4817ed6c6fe244482d8842ace72c29,,...,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,18,WETH,NaN,pudgypenguins,0xbd3531da5cf5857e7cfaa92426877b022e612cf8,Skin,Red,NaN,NaN

Index(['event_type', 'order_hash', 'order_type', 'chain', 'protocol_address',
       'start_date', 'expiration_date', 'quantity', 'maker', 'taker',
       'event_timestamp', 'is_private_listing', 'asset.identifier',
       'asset.collection', 'asset.contract', 'asset.token_standard',
       'asset.name', 'asset.description', 'asset.image_url',
       'asset.metadata_url', 'asset.opensea_url', 'asset.updated_at',
       'asset.is_disabled', 'asset.is_nsfw', 'payment.quantity',
       'payment.token_address', 'payment.decimals', 'payment.symbol', 'asset',
       'criteria.collection.slug', 'criteria.contract.address',
       'criteria.trait.type', 'criteria.trait.value',
       'criteria.encoded_token_ids', 'criteria.trait'],
      dtype='object')

50